@model beach_sys.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo !</h1>
</div>
<form>
    <a asp-controller="Usuarios" asp-action="CreateUser"><button type="button"
            class="btn btn-primary btn-block mt-5">Registre-se</button></a>
</form>